{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block username %}
{{ myusername }}
{% endblock username %}


{% block content %}
<h1 align="center">ABSOLUTE MINDS</h1>
<h3 align="center">Welcome {{ myusername }} to our library!</h3>
    {% for book in book_list %}
    <li><a href="{{ url_for('view.book_details', book_id = book.id) }}">{{ book.title }}</a></li>
    {% endfor %}  
{% endblock %}


{% block content_operator %}
<h1 align="center">ABSOLUTE MINDS</h1>
<h3 align="center">Welcome operator {{ myusername}}!</h3>
<h4 align="center"><a href="{{ url_for('view.late_returns') }}">Late Returns</a>
    <a href="{{ url_for('view.avg_reviews') }}">Reviews</a></h4>
    <h3 align="center">School Books:</h3>
    {% for book in book_list %}
    <li align="center"><a href="{{ url_for('view.book_details', book_id = book.id) }}">{{ book.title }}</a></li>
    {% endfor %}  
{% endblock %}


{% block content_manager %}
<h1 align="center">ABSOLUTE MINDS</h1>
<h3 align="center">Welcome manager!</h3>
<h3 align="center"><a href="/manager/manager_options">Options</h3></a> 
    <h2 align="center">Registered Schools</h2>
    {% for school in schools %}
    <h4 align="center"><a href="{{ url_for('view.school_details', school_id = school.id) }}">{{ school.name }}</a></h4>
    {% endfor %}  
{% endblock %}

