{% extends "base.html" %}
{% block title %}Late Returns{% endblock %}

{% block content %}

<h4>-Search: Users with late returns:</h4>
<form method="POST">
<label for="user_first_name">User First Name:</label>
    <input 
       type="text"
       class="form"
       name="user_first_name"
       placeholder="Enter first name"
       />
       <br>
       <label for="user_last_name">User Last Name:</label>
       <input 
           type="text"
           class="form"
           name="user_last_name"
           placeholder="Enter last name" 
       />
    <button type="submit" name="show_days_nmbr">Submit</button>
    {% if days_nmbr %}
        <button type="submit" name="hide_days_nmbr">Hide</button>
    {% endif %}
</form> 
<form method="GET" >
    {% if days_nmbr %}
        <p>Search parameters: User Full Name: {{ user_first_name + ' ' + user_last_name }}</p>
        {% for d in days_nmbr %}
        <ul>Days of delay: {{ d }}</ul>
        {% endfor %}
    {% endif %}
</form>

<form method="POST">
<label for="days_of_delay">Number of days:</label>
    <input 
       type="number"
       class="form"
       name="days_of_delay"
       placeholder="Enter number of days"
       min = "1"
       />
    <button type="submit" name="show_user_list">Submit</button>
    {% if user_list %}
        <button type="submit" name="hide_user_list">Hide</button>
    {% endif %}
</form> 
<form method="GET" >
    {% if user_list %}
        <p>Search parameters: Number of days: {{ days_of_delay }}</p>
        {% for user in user_list %}
        <ul>{{ user }}</ul>
        {% endfor %}
    {% endif %}
</form>

<form method="GET" >
    {% if all %}
        <p>All Delays:</p>
        {% for a in all %}
        <ul>{{ a }}</ul>
        {% endfor %}
    {% endif %}

{% endblock %}