{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<form method="POST">
    <h3>REGISTER</h3>
    <p>You need the school ID, given by the operator of your school.</p>
    <div class="form">
       <label for="user_first_name">First Name</label>
       <input 
       type="text"
       class="form"
       name="user_first_name"
       placeholder="Enter your first name"
       /> 
       <br />
       <label for="user_last_name">Last Name</label>
       <input 
       type="text"
       class="form"
       name="user_last_name"
       placeholder="Enter your last name"
       /> 
       <br />
       <label for="birth_date">Year of birth</label>
       <input 
       type="year"
       class="form"
       name="birth_date"
       placeholder="Enter your birth year"
       /> 
       <br />
       <label for="myusername">Username</label>
       <input 
       type="text"
       class="form"
       name="myusername"
       placeholder="Choose a username"
       /> 
       <br />
       <label for="password1">Password</label>
       <input 
       type="password"
       class="form"
       name="password1"
       placeholder="Enter password"
       /> 
       <br />
       <label for="password2">Password</label>
       <input 
       type="password"
       class="form"
       name="password2"
       placeholder="Enter password again"
       />  
       <br>
       <label for="user_role">Role:</label>
       <select id="user_role" name="user_role">
         <option value="S">Student</option>
         <option value="T">Teacher</option>
       </select>
             
       <br />
       <label for="school_id">School ID</label>
       <input 
       type="int"
       class="form"
       name="school_id"
       placeholder="Enter your school_id"
       min="1000"
       max="1007"
       /> 
       <br />
    </div>
    <br />
    <button type="submit">Submit</button>
</form>
{% endblock %}