{% extends "base.html" %}
{% block title %}Review{% endblock %}

{% block content %}
<a href="{{ url_for('view.home') }}">Return to home page</a>
<form method="POST">
    <h3>ADD REVIEW</h3>
    <div class="form">
       <label for="book_review">Review</label>
       <input 
       type="text"
       class="form"
       name="book_review"
       placeholder="Enter your review  "
       /> 
       <br />
       <label for="likert">Likert</label>
       <input 
       type="number"
       class="form"
       name="likert"
       min = "0"
       max = "5"
       /> 
    <br />
    <button type="submit">Submit</button>
</form>
{% endblock %}