{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<form method="POST">
    <h3>REGISTER</h3>
    <div class="form">
       <label for="user_first_name">First Name</label>
       <input 
       type="text"
       class="form"
       name="user_first_name"
       placeholder="Enter your first name"
       /> 
       <br />
       <label for="user_last_name">Last Name</label>
       <input 
       type="text"
       class="form"
       name="user_last_name"
       placeholder="Enter your last name"
       /> 
       <br />
       <label for="birth_date">Date of birth</label>
       <input 
       type="date"
       class="form"
       name="birth_date"
       placeholder="Enter your birth year"
       /> 
       <br />
       <label for="myusername">Userame</label>
       <input 
       type="text"
       class="form"
       name="myusername"
       placeholder="Choose a username"
       /> 
       <br />
       <label for="password1">Password</label>
       <input 
       type="password"
       class="form"
       name="password1"
       placeholder="Enter password"
       /> 
       <br />
       <label for="password2">Password</label>
       <input 
       type="password"
       class="form"
       name="password2"
       placeholder="Enter password again"
       />  
    </div>
    <br />
    <button type="submit">Submit</button>
</form>
{% endblock %}