{% extends "base.html" %}
{% block title %}Approve{% endblock %}

{% block content %}
<a href="{{ url_for('view.operator') }}">Return to home</a>
<h2>Approve Requests:</h2>

<h3>1.Users:</h3>
<p>(First Name, Last Name, Username, Role, Register Date)</p>
{% for users in not_approved_users %}
    <p>({{ users }})</p>
    <form action="{{ url_for('view.approve') }}" method="POST">
        <input type="hidden" name="user_id" value="{{ users[0] }}">
        <input type="submit" value="Approve">
    </form>
{% endfor %}

<h3>2.Borrows:</h3>
<p>(Borrow Request Number, Username, Request Date)</p>
{% for borrow in not_approved_borrows %}
    <p>{{ borrow }}</p>
    <form action="{{ url_for('view.approve') }}" method="POST">
        <input type="hidden" name="borrow_id" value="{{ borrow[0] }}">
        <input type="submit" value="Approve">
    </form>
{% endfor %}

<h3>3.Reviews:</h3>
<p>(Review Request Number, Username, Review Text, Likert)</p>
{% for review in not_approved_reviews %}
    <p>{{ review }}</p>
    <form action="{{ url_for('view.approve') }}" method="POST">
        <input type="hidden" name="review_id" value="{{ review[0] }}">
        <input type="submit" value="Approve">
    </form>

{% endfor %}



{% endblock %}