{% extends "base.html" %}
{% block title %}Library Log{% endblock %}

{% block content %}
<a href="{{ url_for('view.operator') }}">Return to home</a>
<h3>1.Active Reserves (Books requested by users but are no available): </h3>
<p>(Book Title, Reserve Date, Username)</p>
{% for r in reserve_data %}
    <ul>{{ r }}</ul>
{% endfor %}
<h3>2.Active Borrows (Books pending return by users): </h3>
<p>(Book Title, Borrow Date, Due Date, Username)</p>
{% for r in active_borrow_data %}
    <ul>{{ r }}</ul>
{% endfor %}
<h3>3.Borrows History (Books borrowed and returned): </h3>
<p>(Book Title, Borrow Date, Username)</p>
{% for r in borrowed_and_returned_data %}
    <ul>{{ r }}</ul>
{% endfor %}

{% endblock %}
